body {
  color: white;
  background-color: black;
}
#fixed-top-container {
  background-color: black;
}
.fa,
a {
  color: white;
}
a:hover,
.icon-btn:hover > span,
h1.hover-label:hover {
  color: #FEFCD7;
}
.icon-btn:disabled > span.fa {
  color: #888888;
}
#search-bar,
#settings {
  background-color: black;
}
