body {
  color: black;
  background-color: white;
}
#fixed-top-container {
  background-color: white;
}
.fa,
a {
  color: black;
}
a:hover,
.icon-btn:hover > span,
h1.hover-label:hover {
  color: #00A1EF;
}
.icon-btn:disabled > span.fa {
  color: #888888;
}
#search-bar {
  background-color: white;
}
