body {
  color: black;
  background-color: white;
}
#fixed-top-container {
  background-color: white;
}
.fa,
a {
  color: black;
}
a:hover,
.icon-btn:hover > .fa,
h1.hover-label:hover {
  color: #00A1EF;
}
